master画面

<%= render partial: "layouts/master_side_bar", class: "master_side_bar" %>

<%= link_to "管理者画面", admin_index_path %>
<%= link_to "一般ユーザ画面", general_index_path %>

<<<<<<< HEAD
<%= paginate(@users) %>

=======
<table border='1' class="table">
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
      <th>権限</th>
    </tr>
  </thead>
  <tbody>
    <% @users.find_each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>
>>>>>>> e9d578c (ユーザ一覧を表示)
