general画面




<%= form_with(model: @post) do |f| %>

  <div>
    <%= f.label :body, style: "display: block" %>
    <%= f.text_field :body %>
  </div>
   <div>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

<div>投稿履歴</div>
<div>
<% @posts.order(created_at: :desc).limit(5).each do |post| %>
  <%= post.body %> - <%= l post.created_at, format: :default %></br>
<% end %>

</div>

<%= button_to "ログアウト", destroy_user_session_path, method: :delete  %>
