<%= form_with(model: user) do |f| %>
  <% if user.errors %>
    <div class = "alert">
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label 'ユーザ名' %>
  <%= f.text_field :name %><br>
  <%= f.label "メールアドレス" %>
  <%= f.text_field :email %><br>
  <%= f.label "所属" %>
  <%= f.text_field :belonging %><br>
  <%= f.label "権限" %>
  <%= f.select :role,[["管理者", "1"], ["一般ユーザ", "0"]], include_blank: "選択してください" %><br>

  <div>
    <%= link_to "キャンセル", users_path %>
    <%= f.submit "送信" %>
  </div>
<% end %>
