<h2>詳細画面</h2>

<div>ユーザ名
  <%= @user.name %>
</div>
<div>メールアドレス
  <%= @user.email %>
</div>
<div>所属
  <%= @user.belonging %>
</div>
<div>権限
  <%= @user.role %>
</div>
<div>
  <%= link_to "戻る", :back %>
  <%= link_to "編集", edit_user_path(@user) %>
  <%= button_to '削除', @user, method: :delete %>
</div>
